@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Londrina+Solid:wght@100;300;400;900&display=swap');

.home-container {
  inline-size: 100%;
  min-block-size: 100vh;
  position: relative;
  z-index: 0;
}

/* MAIN CARD */
.reservation-card {
  margin-block-start: 2rem;
  margin-inline-start: 2rem;
  inline-size: 95%;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 25px;
  padding: 2rem;
  display: flex;
  gap: 2rem;
  -webkit-backdrop-filter: blur(30px);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

/* LEFT DETAIL BOX */
.reservation-done-box {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem 2rem;
  border-radius: 20px;
  box-shadow: inset 4px 4px 120px 50px rgba(162, 42, 44, 0.25);
}

.done-title {
  color: #7a1c1c;
  font-family: 'Londrina Solid';
  font-size: larger;
  font-weight: 400;
  margin-block-end: 1.5rem;
}

/* ROWS */
.done-row {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  border-block-end: 1px solid #e5c5c5;
  padding-block-end: 10px;
}

.done-row label {
  inline-size: 170px;
  font-weight: 700;
  font-family: 'Lato';
  color: #6e1b1b;
}

.done-row span {
  font-size: 15px;
  color: #4a4a4a;
  font-family: 'Lato';
}

/* BUTTONS */
.btn-row {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.btn-edit,
.btn-close {
  display: inline-block;   /* now width + padding work */
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  color: white;
}

/* Customize colors */
.btn-edit {
  background-color: #742222;
}

.btn-close {
  background-color: #742222;
}

.btn-edit:hover,
.btn-close:hover {
  transform: scale(1.04);
  cursor: pointer;
  box-shadow: 0 0 5px #370101;
  border-color: white;
  border: 2.5px;
}

/* RIGHT IMAGE */
.reservation-image {
    flex: 1;
  inset-inline-start: -4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation-image img {
   inline-size: 100%;
  border-radius: 20px;
  max-inline-size: 92%;
}
