
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
  color: white;
}

.menu-container {
  background: url('../../assets/home.jpg') no-repeat center center;
  background-size: cover;
  inline-size: 100%;
  inset-block-start: -50px;
  min-block-size: 100vh; /* allow page to grow */
}

.menu-title{
  align-items: center;
  display: flex;
  justify-content: center;
  font-weight: 800;
  margin-block-start: 3rem;
  font-size: larger;
  letter-spacing: 0.2rem;
  text-shadow: 0.5px 0.5px 1.5vh white;
}

.maincompo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: 100vh; /* full height hero */
  padding: 0 5vw;
}

.rightpart
{
  margin-block-start: -25rem;
  inline-size: 50%;
}

.rightpart h2{
  font-size: 2.5rem;
  font-weight: 600;
  font-family: 'Inter';
  letter-spacing: 1.5rem;
}

.rightpart h1{
    font-family: 'Playfair Display';
    font-weight: 600;
    font-size: 4.5rem;
}

.rightpart p{
  margin-block-start: 1vh;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: 'lato';
  letter-spacing: 2px;
}

.reviews {
  display: flex;
  align-items: center; 
  gap: 8px;
  margin-block-start: -1rem; 
}

.reviews h3{
padding-block-start: 5px;
padding-inline-start: 3px;
font-size: small;
}

.reviews h4, 
.reviews h3 {
  margin: 0;             /* remove default margins */
  line-height: 1;        /* tighter vertical spacing */
}

.reviews img{ 
  margin-block-start: 1rem; 
  padding-block-start: 2rem;/* move image 1rem below text */
  display: block;
  inline-size: 8vw; /* adjust width if needed */
  block-size: auto;
  margin-inline-start: -8rem;
}

.rightpart h4{
  font-family: 'Inter';
  margin-inline-start: 3rem;
  font-weight: 700;
  padding-block-start: .5vh;
}

.rightpart h3{
  opacity: 60%;
  color: white;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 1rem;
}



.leftpart img{
  margin-inline-start: 10vh;
  margin-block-start: -20vh;
  inline-size: 40vw;
  block-size: 65vh;
}

.btnpart{
  position: absolute;   
  inset-inline-end: 40px;  
  inset-block-start: 75%;  
transform: translateY(-140%) translateX(-555%);
  display: flex;        
  gap: 10px;            
  padding: 10px;
}

.orderbtn{
  padding: 12px 32px;
  font-size: 1.1rem;
  font-weight: 700;
  inline-size:10rem;
  color: white;  
  margin-inline-end: 2rem;
  background: linear-gradient(to top , #63161E, #D20015);
  border-radius: 18px;
  border: 2px solid #6B0909;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.5px;
  transition: all 0.3s ease;
}